<style>
li {
    list-style: none;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    background: #127F6F;
}

li.loading {
    animation: pulsate infinite alternate .3s;
}

img {
    width: 100%;
    height: auto;
    transition: opacity 1s;
}

li.loading img {
    opacity: 0;
}

@keyframes pulsate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.8;
    }
}


</style>

<h1>My contacts</h1>
<div>

<a href='<%=get_login_url%>'>Log in and view my email</a>&nbsp;&nbsp;
<a href='<%=contacts_new_path%>'>Create Contact</a>&nbsp;&nbsp;
<%= link_to '<i class="fa fa-download"></i>'.html_safe,contacts_excel_sheet_format_path, { title: "Download Template", :"data-container" =>'body', :"data-placement" =>'bottom', :"data-toggle" => 'tooltip' ,:class=>"pull-rightmr20", "data-turbolinks"=>"false"} %>
<a href='<%=authorizing_outlook_calendar_access_path(:event_name=>"Outlook Event") %>'>Create Outlook event</a>&nbsp;&nbsp;
<a href='<%==authorizing_gmail_calendar_access_path(:event_name=>"Gmail Event") %>'>Create Gmail event</a>&nbsp;&nbsp;

</div>
<table>
  <tr>
    <th>First Name</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>JobTitle</th>
    <th>CompanyName</th>
    <th>MobilePhone</th>
    <th>CompanyPhone</th>
    <th>OfficeHours</th>
    <th>CompantAddress</th>
  </tr>
  <% !@contacts.blank? && @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.birthday %></td>
      <td><%= contact.job_title %></td>
      <td><%= contact.company_name %></td>
      <td><%= contact.mobile_no %></td>
      <td><%= contact.office_no%></td>
      <td><%= contact.office_hour%></td>
      <td><%= contact.company_address%></td>
    </tr>
  <% end %>
  <%#= image_tag(@data["images"].first["src"],:alt=>"", :width => @data["images"].first["size"][0], :height => @data["images"].first["size"][1]) %>
</table>

<ul id="imagesList">
  
</ul>

<div id="cssmenu2">
    <div id="table-title" width="auto">Lab Videos</div>
    <ul>
      <li class="playVid" id="vid1"><a href=""><i class="fa fa-fw fa-play"></i> Lab 1 -</a>
      </li>
    </ul>
  </div>

  <div id="right-half">

  </div>


<script type="text/javascript">
  $( document ).ready(function() {
    <%@data.present? && @data["images"].each do |img|%>
     var $list = $('#imagesList');

 setTimeout(function() 
  {
    var $li = $('<li class="loading">').appendTo($list);
   
    $('<img>').appendTo($li).on('load', function() {
        $li.removeClass('loading');
    }).attr('src', "<%= img['src']%>");
  }, 1000);
    <%end%>
  });

   play="http://www.w3schools.com/tags/movie.mp4";
    $('#right-half').html('<video width="320" height="240" src='+play+' type="video/mp4"  > </video>');


     $(".playVid a").click(function(e) {
    e.preventDefault();
    var play = "samplemp" + $(this).parent()[0].id.slice(3,4)  + ".mp4";
    play="http://www.w3schools.com/tags/movie.mp4";
    $('#right-half').html('<video width="320" height="240" src='+play+' type="video/mp4"  > </video>');
  });
</script>
